<%- include('../../partials/header') %>
<section class="content-block light-grey">
  <h1>Profile Information</h1>
  <p>
    <b>Id</b>: <%= userProfile.id %><br>
    <b>Email</b>: <%= userProfile.email %><br>
    <b>Name</b>: <%= userProfile.name || user.displayName || (user.first_name + ' ' + user.last_name) %><br>
    <b>Last login:</b> <%= userProfile.lastLoginFormatted %><br>
    <b>Login count:</b> <%= userProfile.loginCount %><br>
  </p>
</section>

<section class="content-block white">
  <h2>Delete Profile</h2>
  <p><strong>Note:</strong> This will only delete your profile for this service, your account with a third party will remain.</p>
  <form id="deleteForm" action="/profile" method="POST">
    <button type="button" onclick="confirmDelete()">Delete Profile</button>
  </form>
  <p id="errorMessage" style="color: red;"></p> <!-- Error message element -->
</section>

<%- include('../../partials/footer') %>

<script>
  function confirmDelete() {
    const confirmed = confirm('Are you sure you want to delete your profile?');
    if (confirmed) {
      deleteUser();
    }
  }

  function deleteUser() {
    fetch('/auth/profile', {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      if (response.ok) {
        // Successful deletion, redirect to logout
        window.location.href = '/auth/logout';
      } else {
        // Error handling
        return response.json();
      }
    })
    .then(data => {
      const errorMessage = data.error || 'Failed to delete account';
      console.error('Failed to delete account:', errorMessage);
      // Display error message to the user
      document.getElementById('errorMessage').innerText = errorMessage;
    })
    .catch(error => {
      console.error('Error:', error);
      // Display error message to the user
      document.getElementById('errorMessage').innerText = 'Failed to delete account <br/>' + error;
    });
  }
</script>